---
import type { Post } from '@/types'
import Image from '@components/Image.astro'
import '@styles/css.css'

const { details } = Astro.props as Record<string, Post>

// let cardColor = 'bg-red-950'
//
// if (details.id.toString().at(-1) === '1') {
//     cardColor = 'bg-gray-950'
// }
// if (details.id.toString().at(-1) === '2') {
//     cardColor = 'bg-red-950'
// }
// if (details.id.toString().at(-1) === '3') {
//     cardColor = 'bg-yellow-950'
// }
// if (details.id.toString().at(-1) === '4') {
//     cardColor = 'bg-green-950'
// }
// if (details.id.toString().at(-1) === '5') {
//     cardColor = 'bg-blue-950'
// }
// if (details.id.toString().at(-1) === '6') {
//     cardColor = 'bg-indigo-950'
// }
// if (details.id.toString().at(-1) === '7') {
//     cardColor = 'bg-purple-950'
// }
// if (details.id.toString().at(-1) === '8') {
//     cardColor = 'bg-pink-950'
// }
// if (details.id.toString().at(-1) === '9') {
//     cardColor = 'bg-teal-950'
// }

let cardColor = 'bg-black'
let borderColor = 'border-white'

if (details.author === 'nathan') {
    cardColor = 'bg-cyan-950'
    borderColor = 'border-green-900'
}
if (details.author === 'natalie') {
    cardColor = 'bg-neutral-800'
    borderColor = 'border-nat-white-c01'
}
const showImg = details.globbedImgs.length > 0
---
<div
    class={`border-2 border-solid hover:border-none p-4 hover:p-[18px] lg:w-[1000px] mx-auto text-[#b3b8c3] h-80 mb-3 ${cardColor} ${borderColor}`}
>
    {
        showImg && (
            <div class="float-left mr-10 mt-2">
                <Image img={details.globbedImgs.at(0)!} />
            </div>
        )
    }
    
    <span class="text-[#a47996] font-bold font-vcrosdmono">{details.author}</span>
    <span class="">{' '}-{' '}</span>
    <span class="">{details.title} - {details.dateObj.toLocaleString('en-GB') }</span>
    <br />   
    <div class="max-h-64 overflow-clip text-ellipsis font-ibmplexserief">
        <slot />
    </div>
    <a class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01 font-semibold" href={details.absoluteUrl}>[See full post]</a>
</div>
