---
import type { Post } from '@/types'
import type { globBlogs } from '@utils/glob'

const details = Astro.props as Post
---

<div class="term" id="post">
    <span class="user"> {details.author}</span>
    {details.title} - {details.date}
    <a class="links" id={`${details.id}` ?? '123'} href="{details.author}/{details.id}">
        No.{details.id ?? 'no id'}
    </a>
    <br />
    "file: "
    <a class="url" href={details.image}> {details.id ?? 'no id'}</a>
    " (137KB, image/gif)"
    <br />
    <img class="media" src={details.image} />
    "head of text goes here"
    <br />
    <a class="links" href="{details.href}"> Read more</a>
</div>
