---
import type { Post } from "@/types";
import ForumImageCard from "@components/ForumImageCard.astro";
import "@styles/css.css";
import FormattedDate from "@components/FormattedDate.astro";

const { details } = Astro.props as Record<string, Post>;

let cardColor = "bg-black";

if (details.author === "nathan") {
  cardColor = "bg-nat-green-c01";
}
if (details.author === "natalie") {
  cardColor = "bg-[#261c4a]";
}
const showImg = details.globbedImgs.length > 0;
---

<style>
  input:checked + span {
    display: none;
  }
</style>

<div
  class={`hover:border-2 hover:border-solid border-none hover:p-4 p-[18px] mx-auto text-[#b3b8c3] mb-3 border-nat-white-c01 ${cardColor}`}
>
  <span class="text-[#a47996] font-bold font-vcrosdmono">{details.author}</span>
  <span class="">{" "}-{" "}</span>
  <span class="">{details.title} - <FormattedDate dateObj={details.dateObj} /></span>
  <input type="checkbox" />
  <span>
    <div></div>

    {
      showImg && (
        <div class="float-left mr-10 mt-2">
          <ForumImageCard image={details.globbedImgs.at(0)!} />
        </div>
      )
    }

    <div id="blog-post-container" class="max-h-72 overflow-clip text-ellipsis font-ibmplexserif">
      <slot />
    </div>
    <a
      class="text-nat-white-c01 no-underline hover:text-nat-black-c01 hover:bg-nat-white-c01 font-semibold"
      href={details.absoluteUrl}>[See full post]</a
    >
  </span>
</div>
