---
import Meta from '@components/default/Meta.astro'
import Header from '@components/default/Header.astro'
import Footer from '@components/default/Footer.astro'
import type { BlogDetails } from '@/types'
interface Props {
    details: BlogDetails
}
const { details } = Astro.props
---

<Meta title={details.title} description={details.description} image={details.image} />
<Header />
<div class="term">
<h1>{details.author} - {details.title}</h1>
  <hr>
</div>    
<main class="term">
    <slot />
</main>

<Footer />
